.shareButton {
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 17px;
    height: 32px;
    padding: 0 6px 0 8px;
    display: inline-block;
    text-decoration: none;
}

.shareButton:hover {
    background: #365899;
    border: 1px solid #365899;
}

.shareButton img {
    height: 24px;
    width: 24px;
}

.shareButton span {
    height: 28px;
    padding: 4px 2px;
}

.imgSpan {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.iframeContainer {
    height: 200px;
    width: 200px;
}